@model RealEstate.Models.User

@{
    ViewBag.Title = "ForgetPass";
    ViewBag.ShowSL = "T";
}

<div class="container" style="min-height:350px ;">
    @using (Html.BeginForm("SecretQuestion", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <fieldset>
            <legend>Forget Password?</legend>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-sm-2" })
                </div>
                <div class="controls">

                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })
                    @Html.ValidationMessageFor(model => model.Email)

                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </fieldset>
    }
</div>
