@model RealEstate.Models.Report
@{
    ViewBag.Title = "Report To Admin";
    ViewBag.ShowSL = "T";
}
<div class="container" style="min-height: 350px;">
    <div class="form-horizontal">
        <h3>Report To Admin</h3>
        <div class="well">
                        @using (Html.BeginForm("ReportAdmin", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            
                            <fieldset>
                                <legend>Write Report</legend>

                                @Html.HiddenFor(m => m.ProId)

                                <div class="control-group">
                                    <div class="control-label">
                                        @Html.LabelFor(model => model.Message, new { @class = "control-label col-sm-2" })
                                    </div>
                                    <div class="controls">
                                        @Html.TextAreaFor(model => model.Message, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Message)
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="controls">
                                        <button id="submit" type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>

                                
                            </fieldset>
                        }

        </div>
    </div>
</div>