@model RealEstate.Models.User
@{ViewBag.ShowSL = "T";}
@{
    <div class="container" style="min-height: 350px;">
        @{
            if (Model == null)
            {
                <h1>No Such User</h1>
            }
            else
            {
                using (Html.BeginForm("CheckAnswer", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <fieldset>
                        <legend>Enter your Answer!</legend>
                        @Html.HiddenFor(model => model.Id)

                        <div class="control-group">
                            <div class="control-label">
                                <div class="control-label col-sm-2">
                                    @Html.LabelFor(model => model.Question)
                                </div>
                            </div>
                            <div class="controls">
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.Question, new { @readonly="readonly" })
                                </div>
                            </div>
                        </div>


                        <div class="control-group">
                            <div class="control-label">
                                <div class="control-label col-sm-2">
                                    @Html.Label("Answer")
                                </div>
                            </div>
                            <div class="controls">
                                <div class="col-sm-10">
                                    <input name="Answer" id="Answer" placeholder="Answer" class="form-control" required />
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="controls">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-success">Submit</button>

                                </div>
                            </div>
                        </div>
</fieldset>
                }
            }
        }
    </div>
}